/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  	--background-image: url('../images/cover-image-light.png');
  	--background-color: var(--color-pink-f7, #fff1f7);
	
	--title-color: var(--color-pink-e6, #ffc2e6);
	--header-text-color: var(--color-grey, #353430);
	--decorated-color: var(--color-grey, #353430);
	--decorated-color-40: var(--color-grey-40, #35343040);
	--section-title-color: var(--color-grey, #353430);
	--article-title-color: var(--color-grey, #353430);
	--accent-color: var(--color-pink-cb, #ff8dcb);
	--text-color: var(--color-grey, #f1b2ce);
	--hover-color: var(--color-pink-ce, #353430);
	--focus-color: var(--color-pink-ce, #353430);
}

.page.theme_light .recording {
  display: none;
}

@media (prefers-color-scheme: light) {
	:root {
    	--background-image: url('../images/cover-image-light.png');
		--background-color: var(--color-pink-f7, #fff1f7);
		
		--title-color: var(--color-pink-e6, #ffc2e6);
		--header-text-color: var(--color-grey, #353430);
		--decorated-color: var(--color-grey, #353430);
		--decorated-color-40: var(--color-grey-40, #35343040);
		--section-title-color: var(--color-grey, #353430);
		--article-title-color: var(--color-grey, #353430);
		--accent-color: var(--color-pink-cb, #ff8dcb);
		--text-color: var(--color-grey, #f1b2ce);
		--hover-color: var(--color-pink-ce, #353430);
		--focus-color: var(--color-pink-ce, #353430);
		--recording-display: none;
	}

	.recording {
		display: none;
	}
}
